{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Add external bridgelines, one per line.</p>
            <form action="" method="post">
                <label for="group">Choose a group:</label>
                  <select name="group" id="group">
                    {% for i in all_groups %}
                    <option value={{i}}>{{i}}</option>
                    {% endfor %}
                  </select>
                <textarea rows="30" cols="90" name="bridgelines"></textarea>
                <br>
                <input type="submit" name="add_bridges" value="Add bridges">
            </form>
        </div>
    </div>

{% endblock %}