{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2>{{ title }}</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}

        </div>
    </div>

{% endblock %}