{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} {% else %} Dynamic Bridge Dashboard {% endif %}
{% endblock %}

{% block navbar %}
<div class="navbar " role="navigation">
    <div class="container">
            <a href="https://www.sr2.uk/" class="navbar-brand"><img src="https://www.sr2.uk/img/logo-side.png" height="30" alt="SR2 Communications"></a>
            <ul class="nav navbar-nav navbar-right">
                {% if not user %}
                    <li><a href="{{ url_for('dashboard.public') }}">Home</a></li>
                    <li><a href="{{ url_for('azure.login') }}" class="disabled">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for('dashboard.index') }}">Home</a></li>
                    <li><a href="{{ url_for('dashboard.groups') }}">Groups</a></li>
                    <li><a href="{{ url_for('dashboard.profile') }}" class="disabled">{{ user.displayName }}</a></li>
                {% endif %}
            </ul>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
    <h1>Dynamic Bridge Dashboard</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block app_content %}{% endblock %}
</div>
{% endblock %}

</body>
</html>