{% extends "base.html.j2" %}
{% block app_content %}
<h2>
    Details for: {{ br.nickname }}

    <span class="tip circle circle-online" title="" data-original-title="This relay is running - {{ br.running }}."></span>

</h2>


<h2>
    {% if br.running == False %}
        <span class="tip circle circle-online" title="" data-original-title="This bridge is NOT running."></span>
    {% else %}
        <span class="tip circle circle-online" title="" data-original-title="This bridge is running."></span>
    {% endif %}
</h2>

<div class="row">
    <div class="col-md-6">
    <h3>Configuration</h3>
    <dl>
      <dt><span class="tip" title="" data-original-title="This is the nickname that the Tor bridge operator chose.">Nickname</span></dt>
      <dd>{{ br.nickname }}</dd>

      <dt>
      <span class="tip" title="" data-original-title="The volume of traffic, both incoming and outgoing, that this bridge is willing to sustain, as configured by the operator and claimed to be observed from recent data transfers.">Advertised Bandwidth</span>
      </dt>
      <dd>{{ br.adv_bandwidth }} MiB/s</dd>



    </div>
    <div class="col-md-6">

    <h3>Properties</h3>

    <dl>

    <dt><span class="tip" title="" data-original-title="Hash of 20-byte unique identifier of the bridge.">Hashed Fingerprint</span></dt>
    <dd><pre>{{ br.hashed_fingerprint }}</pre></dd>


    <dt><span class="tip" title="" data-original-title="The time since this bridge is online/offile.">Uptime</span></dt>
    <dd>{{ br|format_uptime }}</dd>


    <dt><span class="tip" title="" data-original-title="Flags that the directory authorities assigned to this bridge.">Flags</span></dt>
    <dd>
        {{ br.flags}}

    </dd>


    <dt><span class="tip" title="" data-original-title="Flags that have been generated by Relay Search to provide extra useful information. These flags do not appear in the directory consensus.">Additional Flags</span></dt>
    <dd>

     Additional flags coming soon!


    </dd>

    <dt><span class="tip" title="" data-original-title="The first time that this relay was seen online.">First Seen</span></dt>
    <dd>{{ br.first_seen}}</dd>

    <dt><span class="tip" title="" data-original-title="Date and time when the bridge was last (re-)started.">Last Restarted</span></dt>
    <dd>{{ br.last_restarted }}</dd>

    <dt><span class="tip" title="" data-original-title="What OS and Tor version the bridge is using">Platform</span></dt>
    <dd>Tor {{ br.version }} on Linux</dd>

    <dt><span class="tip" title="" data-original-title="Transport protocols supported by this bridge.">Transport protocols</span></dt>
    <dd>obfs4</dd>

    <dt><span class="tip" title="" data-original-title="BridgeDB distributor that this bridge is currently assigned to.">Bridge distribution mechanism</span></dt>

    <dd>{{ br.group }}</dd>


    </dl>
    </div>
    <div class="col-md-12">
        <h3>Bridge Line</h3>
         {{br.bridgeline}}
    </div>

    <div class="col-md-12">
        <h3>History</h3>
        <img src="data:image/png;base64,{{graphs.clients}}" style="scale:50%;"/>
        <img src="data:image/png;base64,{{graphs.bytes}}" style="scale:50%;"/>
    </div>
</div>
{% endblock %}