{% extends "base.html.j2" %}
{% block app_content %}

    <h2>Group Dashboard</h2>

<table class="table">
     <thead>
        <tr>
            <td><p>Name</p></td>
            <td><p>Description</p></td>
            <td><p>Provider</p></td>
            <td><p>Distribution Method</p></td>


        </tr>
    </thead>
    <tbody>
    {% for i in groups %}
        <tr>
            <td><p>{{ i.name }}</p></td>
            <td><p>{{ i.description }}</p></td>
            <td><p>{{ i.provider.value }}</p></td>
            <td><p>{{ i.distribution_method.value }}</p></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <a href={{ url_for('dashboard.add_group') }}><button type="button">Add new group</button></a>
    <a href={{ url_for('dashboard.del_group') }}><button type="button">Delete a group</button></a>

{% endblock %}