{% extends "base.html.j2" %}
{% block app_content %}
    <h2>All bridges</h2>
    {% if user %}
    <!-- a href="{{ url_for('static',filename="test.txt") }}" download><form action="" method="post"><input type="submit" name="output_json" value="Output json file">
        </form></a>
    <a href="{{ url_for('static',filename="output.csv") }}" download><form action="" method="post"><input type="submit" name="export_csv" value="Export CSV of daily users per bridge per country">
        </form></a -->
    <p>
    <a href="{{ url_for('dashboard.add_external_bridges') }}" class="btn btn-default">Add external bridges</a>
    <a href="{{ url_for('dashboard.add_managed_bridges') }}" class="btn btn-default">Add managed bridges</a>
    </p>
    {% endif %}

<table class="table">
     <thead>
        <tr>
            <th>Nickname</th>
            {% if user %}<th>Obfs port</th>{% endif %}
            <th>Bridgestrap</th>
            <th>Running</th>
            <th>Overloaded</th>
            <th>Advertised Bandwidth</th>
            <th>Uptime</th>
            <th>Version</th>
            <th>Total Users</th>
            <th>Active</th>
            {% if user %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for i in bridges %}
        {% if i.running == False %}
          <tr class="alert-danger">
        {% elif i.overloaded %}
          <tr class="alert-warning">
            {% else %}
            <tr class="alert-success">
          {% endif %}
            <td>
                <p>
                    {% if not i.fingerprint %}
                        {{ i.group }}/{{ i.name }}
                    {% else %}
                        {% if user %}
                            <a href="{{ url_for('dashboard.show_detail', fingerprint=i.fingerprint) }}">{{ i.nickname }}</a><br>
                            <code>{{ i.fingerprint }}</code>
                        {% else %}
                            <a href="https://metrics.torproject.org/rs.html#details/{{ i.hashed_fingerprint }}">{{ i.nickname }}</a><br>
                            <code>{{ i.hashed_fingerprint }}</code>
                        {% endif %}
                    {% endif %}
                </p>
            </td>
            {% if user %}<td><p>{{ i.ip_address }}:{{ i.obfs_port }}</p></td>{% endif %}
            <td><p>{{ i.bridgestrap }}</p></td>
            <td><p>{{ i.running }}</p></td>
            <td><p>{{ i.overloaded }}</p></td>
            <td><p>{{ i.adv_bandwidth }} MiB/s</p></td>
            <td><p>{{ i | format_uptime }}</p></td>
            <td><p>{{ i.version }}</p></td>
            <td><p>{% if i.fingerprint in counts_dict %}{{ counts_dict[i.fingerprint].total }}??{% endif %}</p></td>
            <td><p>{{ i.active }}</p></td>
            {% if user %}
            <td>
                <form action="/modify" method="post">
                    <input type="hidden" name="bridge" value="{{ i.nickname }}">
                    <input type="submit" name="blocked" value="Replace">
                    <input type="submit" name="destroy" value="Destroy">
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}