terraform {
  required_version = ">= 0.15"
  required_providers {
    openstack = {
      source  = "terraform-provider-openstack/openstack"
      version = "~> 1.42.0"
    }
    ovh = {
      source  = "ovh/ovh"
      version = ">= 0.13.0"
    }
  }
}

provider "openstack" {
  alias = "ovh"
  auth_url    = "https://auth.cloud.ovh.net/v3/"
  domain_name = "Default" # Domain name - Always at 'default' for OVHcloud
  user_name = "{{ config['ovh']['user_name'] }}"
  password = "{{ config['ovh']['password'] }}"
  tenant_id = "{{ config['ovh']['tenant_id'] }}"
}

provider "ovh" {
  endpoint           = "ovh-eu"
  application_key    = "{{ config['ovh']['application_key'] }}"
  application_secret = "{{ config['ovh']['application_secret'] }}"
  consumer_key       = "{{ config['ovh']['consumer_key'] }}"
}

locals {
  ssh_key = file("/home/dashboard/id_rsa.pub")
}

data "ovh_cloud_project_regions" "regions" {
  service_name = "0f6755d3f24c4aa0a380f8742b22c9d5"
  has_services_up = ["instance"]
}

{% for group in groups %}
{% if group['provider'] == "ovh" %}
{% for bridge in group['bridges'] %}
resource "random_shuffle" "{{ group['name'] }}_{{ bridge['name'] }}_region" {
  input = data.ovh_cloud_project_regions.regions.names
  result_count = 1
}

module "{{ group['name'] }}_{{ bridge['name'] }}" {
  source = "sr2c/tor-bridge/openstack"
  version = "0.0.3"
  namespace = "{{ config['namespace'] }}"
  name = "cobalt"
  region = one(random_shuffle.{{ group['name'] }}_{{ bridge['name'] }}_region.result)
  attributes = [each.value]
  ssh_key = local.ssh_key
  contact_info = {{ config['contact_info'] }}
  distribution_method = "{{ group['distribution_method'] }}"
}
{% endfor %}
{% endif %}
{% endfor %}