{% extends "base.html.j2" %}

{% block app_content %}

    <h2>User Profile</h2>
<dl>
    <dt>Name</dt>
    <dd>{{ user.displayName }}</dd>
    <dt>Email</dt>
    <dd>{{ user.mail }}</dd>
    <dt>User ID</dt>
    <dd><pre>{{ user.id }}</pre></dd>
{% endblock %}